<footer class="footer">
    <div class="double-grid-container">
        <div class="grid-item center-grid">
            <img class = "logo" [src] = 'logo' alt = "Just Birds Logo" />
        </div>
        <div class="grid-item center-grid">
            <p class="title"> Check out our Socials: </p>
            <div class="single-grid-container">
                <div class="grid-item">
                    @for (social of socialsList; track $index) {
                        <a [href] = "social.link"><img class = "socials-logo" [src] = "social.image" alt = 'social.socialName Logo' /></a>
                    }
                </div>
            </div>
        </div>
        <div class="grid-item navigate">
            <p class="center-grid title"> Navigate </p>
            @for (navigation of navigateList; track $index) {
                <a [href] = "navigation.link"> <p class="center-grid"> {{navigation.navigateName}} </p> </a>
            }
        </div>
        <div class="grid-item">
            <p class="center-grid title"> Visit my Portfolio: </p>
            <button (click)="toPortfolio()" class="center-grid"> Explore Matthews Portfolio </button>
        </div>
    </div>
    <p class="center-grid trademark"> 2025 JustBirds by Matthew Kristanto</p>
</footer>