<div class="navbar">
    <div class="single-grid-container">
        <div class="grid-item center-grid">
            <img [src] = "logo" alt = "logo" />
        </div>
    </div>
    <div class="grid-item center-grid">
        <hr>
    </div>
    <div class="grid-item center-grid">
        <nav class="center-grid">
            @for (link of links; track $index) {
                <!-- Display the Links for the appropiate Logged In Status -->
                @if ((isLoggedIn == link.forLoggedIn) || (link.forLoggedIn == "both")) {
                    <a [routerLink] = "link.link" (click)="logout()"> <p> {{link.title}} </p></a>
                }
            }
        </nav>
    </div>
</div>
