<div class="bird-catalog">
    <p class="center-grid"> Bird Catalog </p>
    <form (input)="searchProduct()">
        <div class="single-grid-container">
            <div class="grid-item center-grid">
                <select [(ngModel)]="sortOption" (change)="sortProducts()" name="sortProducts">
                    <option value="alphabetical" selected> Sort By: Alphabetical </option>
                    <option value="cheapest"> Sort By: Cheapest Price </option>
                    <option value="highest"> Sort By: Highest Price </option>
                </select>
            </div>
            <div class="grid-item center-grid">
                <input class = "search" type="text" placeholder="Search Item" [(ngModel)]='searchInput' name="searchInput"/>
                <input class = "reset" type="submit" (click)="searchReset()" value="Reset"/>
            </div>
        </div>
    </form>

    @if (searchInput.length > 0) {
        <p> Showing {{searchedList.length}} results for {{searchInput}}</p>
    }

    @if (searchedList.length == 0) {
        <div class="noProducts">
            <div class="center-grid">
                <img [src] = "noProducts" />
            </div>
            <p> No Products Found </p>
        </div>
    }

    <div class="grid-container productList">
        <div class="grid-item product" *ngFor="let product of searchedList | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
            <div class="double-grid-container ">
                <div class="grid-item center-grid">
                    <img class = "productImage" [src] = "product.image" alt = "product.name Picture"/>
                </div>
                <div class="grid-item">
                    <p> {{product.name}} </p>
                    <p> ${{product.price}} </p>
                    <button class="add"> Add </button>
                </div>
            </div>
        </div>
    </div>

    <pagination-controls class="center-grid pagination" (pageChange)="currentPage = +$event"></pagination-controls>

</div>
