.bird-catalog img.productImage {
    height: 200px;
    width: 200px;
    border-radius: 70%;
    border: 10px solid #876408;
}

.bird-catalog p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    color: black;
}

.bird-catalog form {
    padding: 10px;
}

.bird-catalog form input.search {
    width: 25vw;
    height: 35px;
    font-size: 30px;
}

.bird-catalog form select {
    font-size: 30px;
    border: 5px solid #6b6b6b;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-style: italic;
}

.bird-catalog form input.reset {
    margin-left: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 5px solid #9f0404;
    background-color: #fc9595;
    color: white;
    padding: 5px;
    font-weight: bold;
}



.bird-catalog div.product {
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
}

.bird-catalog button.add {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    border-radius: 10px;
    border: 5px solid #bf9e49;
    background-color: #f5d482;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-top: 30px;
}

.noProducts {
    padding: 30px;
}

.noProducts img{
    height: 230px;
    width: 250px;
    padding-bottom: 10px;
}

.noProducts p {
    font-weight: bold;
    font-style: italic;
    font-size: 35px;
}

/* For the Pagination */
.pagination {
    margin-top: 20px;
}

.pagination .ngx-pagination li {
    font-size: 20px; 
    padding: 12px 16px; 
    border-radius: 5px; 
    font-family: Arial, Helvetica, sans-serif;
}

.pagination .ngx-pagination .pagination-previous {
    font-weight: bold;
}

.pagination .ngx-pagination .pagination-next {
    font-weight: bold;
    background-color: rgb(166, 255, 166);
}