<div class="bird-details">
    <button class="back" (click)="backToCatalog()"> Go Back </button>
    @if (birdData) {
        <div class="double-grid-container center-grid">
            <div class="grid-item">
                <img [src] = "birdData.image" alt = "Bird Picture" />
            </div>
            <div class="grid-item">
                <p class="center-grid birdName"> {{birdData.name}} </p>
                <p class="center-grid price"> Price: ${{birdData.price}} </p>
                <div class="productAmount">
                    <form>
                        <div class="grid-container center-grid">
                            <div class="grid-item">
                                <button type="button" class="quantity" (click)="decrement()"  [disabled]="birdQuantity <= 1">-</button>
                            </div>
                            <div class="grid-item center-grid">
                                <p> Quantity: </p>
                                <input type="number" [(ngModel)]="birdQuantity" name="quantity" min="1" (keydown)="preventNegative($event)">
                            </div>
                            <div class="grid-item">
                                <button type="button" class="quantity" (click)="increment()">+</button>
                            </div>
                        </div>
                        <button type="button" class="center-grid add" (click)="addToCart()">Add To Cart</button>
                    </form>
                </div> 
                <p class="center-grid"> {{birdData.description}} </p>
            </div>
        </div>
    }
    @else {
        <p> Bird Not Found </p>
    }
</div>